*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* font-family: 'Ms Madi', cursive; */
    /* font-family: 'Ms Madi', cursive; */
    /* font-family: 'Oswald', sans-serif; */
    
}

html {
    scroll-behavior: smooth;
  }



header{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.1)) , url('taj.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    height: 13vh;
    width: 100%;
    display: flex;    
    background-color: rgb(0, 0, 0,0.3);
    text-align: center;
    color: white;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    /* background-color:green; */
    z-index: 99;

}


nav .logo{
    width: 20%;
    font-weight: bold;
    font-size: 20px;
    /* justify-content: center; */
    /* text-align:  center; */
}

nav .logo h1{
    /* text-transform:uppercase; */
    /* font-family: 'Water Brush', cursive; */
    font-family: 'Square Peg', cursive;
}

nav .menu{
    width: 40%;
    display: flex;
    justify-content: space-around;
    font-weight: 900;
    /* margin-right: 25% ; */
/* font-family: 'Oswald', sans-serif; */
font-family: 'Square Peg', cursive;


}

nav li{

    list-style: none;
}


nav a{
    text-transform: uppercase;
    text-decoration: none;
    /* width: 25%; */
    /* margin-right: 60px; */
    color: white;
    padding: 8px ;
    margin-right: 10px;
    letter-spacing: 2px;
}

nav .menu li a.active {
    border-bottom: solid red;
}

nav a:hover{
    border-bottom: solid red;
}

main{
    height: 87vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: white; */
} 

.container{
    color: white;
    text-align: center;
}

main .container h2{
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 2px;
    word-spacing: 5px;
     text-shadow: 1px 2px 5px black;
}

main .container h3{
    font-size: 55px;
    font-weight: 600;
    /* letter-spacing: 2px; */
    word-spacing: 5px;
     text-shadow: 1px 2px 5px black;
    
}

.button{
    display: flex;

    justify-content: center;
    /* box-shadow: 1px 2px 5px black; */
    /* background-color: red; */
    
}

.button a{
    /* padding: 15px  20px ; */
    /* outline: none; */
        text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px; 
    margin-top: 20px;   
}
.button .btn1{
    background-color: #fff;
    color: #000;
    padding: 12px 30px;
    border-radius: 4px;
    margin-right: 10px;
    width: 200px;
}

.btn1:hover{
    background-color: #00b894;
    transition: 0.5s ease;
}

.button .btn2{
    background-color: #00b894;
    color: #000;
    padding: 12px 30px;
    border-radius: 4px;
    margin-left: 10px;
    width: 200px;

}

.btn2:hover{
    background-color: #fff;
    transition: 0.5s;
}

.change::after{
    content: '';
    color: #00b894;
    animation: changetext 15s linear infinite;
}


@keyframes changetext{
    0%{content: " Agra ";}
    9%{content: " Jaipur ";}
    18%{content: " Darjeeling ";}
    27%{content: " Mumbai ";}
    36%{content: " Shimla ";}
    45%{content: " Rishikesh ";}
    54%{content: " Varanasi ";}
    63%{content: " Amritsar ";}
    72%{content: " Ajanta and Ellora Caves";}
    81%{content: " Manali ";}
    90%{content: " Ladakh ";}
}

.explore_data{
    height: 590vh;
    width: 100%;
    /* display: flex; */
    /* background-color: gray; */
}
.heading_explore_cities{
    height: 200px;
    text-align: center;
    background-image: url('http://exploreindia.net/images/indiatour.png');
    background-size:cover;
    background-repeat: no-repeat;
    /* background-position-x: center; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.cities .heading_explore_cities h2{
    text-align: center;
    font-size: 45px;
    margin: 8px;
    display: inline-block;
    color: black;
    /* padding: 40px; */
    /* margin:auto; */
    text-shadow: 2px 2px 5px red;
}

.wrapper{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 70%;
    background-color: rebeccapurple;
    float: left;
    margin: 10px;
    height: 40vh;
    border-radius: 8px;

}

.wrapper:hover , .wrapper2:hover {
    box-shadow: 2px 2px 10px black;

}

.wrapper .data h2 , .wrapper2 .data h2{
    font-size: 40px;
    font-weight: 900;
    margin: auto;
    position: relative;
    top: 10px;

}

.wrapper .data p , .wrapper2 .data p{
    width: 80%;
    position: relative;
    top: 25px;
    margin: auto;
    align-items: center;
}

.wrapper .image img , .wrapper2 .image img{
    height: 100%;
    /* width: 100%; */
    /* float : right; */
    border-radius: 10px;
}
.wrapper2{
  display: flex;
    text-align: center;
    justify-content: center;
    width: 70%;
    background-color: red;
    float: right;
    margin: 10px;
    height: 40vh;
    border-radius: 8px;
    transition: width ;
}

/* effect part hover on imgage */


/* ::-webkit-scrollbar{
    width: 0;
} */


.contact{
    height: 100vh;
    /* background-color: #868686; */
    width: 100%;
}

.contact .contact_box{
    width: 100%;
    height: 200px;
    /* background-image: url('https://images.unsplash.com/photo-1500829243541-74b677fecc30?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=300&ixid=MnwxfDB8MXxyYW5kb218MHx8bmF0dXJlfHx8fHx8MTY1MDkxMjM1Ng&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600'); */

    background-image: url('https://source.unsplash.com/1600x300/?nature');
    background-size: cover;
    /* background-repeat: no-repeat; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 35px;
    color: white;

}

.contact_info{
    width: 30%;
    /* background-color: blue; */
    border: solid black;
    margin: 50px 50px;
    padding: 30px;
}
.contact_info .data{
    margin: 10px;
}
.contact_info h3{
    font-size: 35px;

}


.social_media_icon{
    display: flex;
    justify-content: center;
}
.data {
    text-align:center;
}


.contact_info .facebook_icon{
    padding: 10px;
    font-size: 55px;
    color: #0011ff;
}
.contact_info .instagram_icon{
    padding: 10px;
    font-size: 55px;
    color: purple;
}
.contact_info .twitter_icon{
    padding: 10px;
    font-size: 55px;
    color: blue;
}

.social_media_icon a{
    text-decoration: none;

}

.boxes{
    display: flex;
}












